/*
 * Nerd Fonts - Website: https://www.nerdfonts.com
 * Development Website: https://github.com/ryanoasis/nerd-fonts
 * Version: 3.4.0
 * Locally hosted to avoid external dependencies
 */

@font-face {
  font-family: 'NerdFontsSymbols Nerd Font';
  src: url("/fonts/nerd-fonts-symbols.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.nf,
.nerd-font,
.nerd-fonts {
  font-family: 'NerdFontsSymbols Nerd Font';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
